@model IEnumerable<WebMvc.Models.fileModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Azure Fileshare Management</h1>

<p>
    
    <div>
        @Html.ActionLink("Upload file", "Create")
       
    </div>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

           
            <td>
                    
                    @Html.ActionLink("Download", "Download", new { uri=item.Uri }) |
                    @Html.ActionLink("Delete", "Delete", new { uri=item.Uri})
            </td>
        </tr>
}
    </tbody>
</table>
