@model IEnumerable< fileModel>

<div class="bottomMarginDefault">
</div>
<div>
    <div >
        <a class="nav-link text-dark" asp-area="" asp-controller="FileStorage" asp-action="Create">Add an Image</a>
    </div>
</div>
<div class="container">
      <div class="row">
    @foreach (var item in Model)
    {
       <div class="pull-left col-md-4">            
            <div>
              @*  <img class="thumbnailImage" src="@("https://localhost:7075/images/" + item.FileName)" />*@
            </div>
            <div>
                <div class="h6 topMarginSmall">@item.Uri</div>
                <div class="h6 topMarginSmall">@item.Name</div>
                <div class="h6 topMarginSmall">@item.Content</div>
                    <div class="h6 topMarginSmall">@item.ContentType</div>
                <div class="bottomMarginDefault">
                        <a asp-action="EditImage" asp-controller="FileStorage" asp-route-id="@item.Uri">Edit title</a> |
                        <a asp-action="DeleteImage" asp-controller="FileStorage" asp-route-id="@item.Uri">Delete image</a>
                </div>
            </div>
        </div>
    }
    </div>
</div> 